.color-1{
    background-color: #C1CDFF;
}
.color-2{
    background-color: #9EFE1E;
}
.color-3{
    background-color: #FEBD57;
}
.color-4{
    background-color: #536FFE;
}
.color-5{
    background-color: #EBEBEB;
}
.color-6{
    background-color: #F93536;
}
.white{
    background-color: white;
}
.flex{
    display: flex;
}
.round-border{
    border-radius: 20px;
}
.padding{
    padding: 20px;
}


.stats-div{
    width:100vw;
    height: 40vh;
    padding: 20px;
    gap: 40px;
}
.projects-div{
    height: 40vh;
    width: 100vw;
    padding: 10px;
    gap: 40px;
}

.intro{
    width:40vw;
    gap:20px;
}

.task{
    width:30vw;
}
.revenue{
    width:30vw;
}

.task1{
    height: 35%;
    margin-bottom: 10px;
}
.task2{
    height: 35%;
    margin-top: 10px;
}

.project{
    width:33vw;
}












.window{
    height: 100vh;
}
.header{
    height: 10vh;
}
.main-body{
    height: 90vh;
}

.capsule{
    width: 20%;
}

.progress-bar{
    width:100%;
    border-radius: 8px;
    height: 5%;
}

.w90{
    width: 90%;
    height: 100%;
}

.w50{
    width: 50%;
    height: 100%;
}
.w60{
    width: 60%;
    height: 100%;
}

.icon{
    border-radius: 50%;
    height:8%;
    color: white;
    font-weight: bolder;
}

.w80{
    width:80%;
    height: 100%;
}

.w70{
    width:70%;
    height: 100%;
}
